@charset "UTF-8";
body {
  background-image: url(../images/background-show.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*------------------ header----------------------- */

header {
  background-color: #1c1b17;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  height: 85px;
  padding: 5px 10%;

  header.logo {
  cursor: pointer;
  
    header .logo img {
    height: 70px;
    width: auto;

      header .nav-links {
      list-style: none;

        header .nav-links li {
        display: inline-block;
        padding: 0 20px;
   

          header .nav-links a {
          font-size: 700;
          color: white;
          text-decoration: none;
          
            header .btn button {
            font-weight: 700;
            color: #1c1b17;
            padding: 9px 25px;
            background: blueviolet;
            border: none;
            }
          }
        }
      }
    }
  }
}
        
      
    
  


/* -----------------------main--------------------------------- */
main {
  color: white;
  text-align: center;
  font-size: 20px;
  width: 70%;
  margin: 0 auto;
  background-color: #1c1b17;


  img {
    text-align: center;
    display: flex;
    grid-template-columns: 1fr;
  

    h1 {
      color: white;
      text-decoration: underline;
      text-align: center;
    }
  }
}
/* --------------------index--------------------------------- */
.carousel-inner :hover {
  transform: scale(1.05);
  
  .imagen-carousel {
    width: 100%;
    padding: 30px;

    .carousel h5 {
      color: white;
      background-color: rgba(0, 0, 0, 0.719);
      font-size: xx-large;

      .carousel p {
        color: white;
        background-color: rgba(0, 0, 0, 0.719);
        font-size: xx-large;

        .carousel img {
          width: 100%;
          height: 700px;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

/* -----------------contacto--------------------- */
.redes img {
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  height: 70px;
  width: auto;
}

.redes a {
  text-decoration: none;
}

/* ----------------------productos------------------ */
h2 {
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  margin-bottom: 20px;
}

.main-ropa {
  color: white;
  display: grid;
  grid-template-columns: 25% 1fr;
}

.filtro-ropa {
  background-color: #1c1b17;
  margin: 10px;
  text-align: center;
}

.titulo-productos {
  background-color: #1c1b17;
  margin: 10px;
}

.contenedor-productos {
  background-color: #1c1b17;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  margin: 15px;
  padding: 40px;
}

.card-producto {
  background-color: rgb(100, 100, 100);
  padding: 5px;
  border-radius: 15px;
  width: 30%; /* Ajusta el tamaño de cada tarjeta */
  text-align: center;
  cursor: pointer;
}

.card-producto :hover {
  transform: scale(1.05);
}

.card-producto img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.card-producto p {
  font-size: 20px;
  margin: 10px 0; /* Espaciado entre líneas */
}

section {
  text-align: left;
}

a {
  color: blue;
}

.setlist {
  display: inline-block;
  text-align: left;
}

/*--------------------------- fecha------------------------- */
.dropdown {
  background-color: #1c1b17;
  padding: 10px;
  margin: 10px;
}

.general {
  background-color: #1c1b17;
  display: grid;
  grid-template-columns: 15% 1fr;
  margin: 10px;
}

.filtro {
  padding: 5px;
}

.foto-galeria {
  width: 100%;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.foto-galeria img {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

.galeria h2 {
  text-align: center;
}

/* ------------------------------discos----------------------- */
.canciones {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 20px;
  margin: 10px;
}

.canciones iframe {
  width: 100%;
  margin: 0px;
}

.listas-discos {
  background-color: #1c1b17;
}

/* -----------------------------footer------------------------ */
footer {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #1c1b17;
  padding: 10px;
  margin: 10px;
  border: 5px white;
}

.nav-ft ul {
  list-style: none;
  padding: 0;
  display: block;
}

.nav-ft ul li {
  display: inline-block;
  padding: 0 20px;
}

.nav-ft ul li a {
  font-size: 700;
  color: white;
  text-decoration: none;
}

footer .redes-footer a {
  display: inline-block;
  padding: 0 20px;
}

.redes-footer img {
  height: 40px;
  width: auto;
}

/* -----------------------------mediaquery-----------------------------*/
@media (max-width: 500px) {
  /* header */
  header {
    flex-direction: column;
    margin: 10px;
    height: 200px;
  }
  header .nav-links li {
    display: inline-block;
    padding: 0 5px;
  }
  header .btn button {
    margin: 5px;
  }
  /* main */
  main {
    font-size: 15px;
    width: 90%;
  }
  main p {
    margin: 15px;
  }
  img {
    width: 100%;
  }
  .carousel img {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
  }
  /*  fecha */
  .general {
    grid-template-columns: 1fr;
  }
  .foto-galeria {
    width: 100%;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .foto-galeria img {
    width: 350px;
    height: 200px;
  }
  /* producto */
  .main-ropa {
    grid-template-columns: 1fr;
  }
  .card-producto {
    width: 100%;
  }
  /* discos */
  .canciones {
    grid-template-columns: 1fr;
  }
  /* footer */
  footer {
    flex-direction: column;
    margin: 10px;
  }
  .nav-ft ul li {
    display: inline-block;
    padding: 0 10px;
  }
}

/*# sourceMappingURL=style.scss.map */
