@import './variables';
.navegador {
    background-color: $fondo;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    height: 85px;
    padding: 5px 10%;
}